.header-wrap{
    padding: 20px 0;
    .logo{
        img{
            height: 50px;
        }
    }
    .top-links{
        ul{
            list-style: none;
            display: flex;
            gap: 1.5rem;
            li{
                a{
                    font-size: var(--font-size-16);
                    color: var(--gray-color);
                    text-decoration: none;
                }
            }
        }
    }
    .dropdown-toggle {
        &::after {
            display: none;
        }
    
        .fa-angle-down {
            text-shadow: 0 1px 0 var(--gray-color);
        }
    }

}